.performanceChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 260px;
  aspect-ratio: 1;
  height: auto;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 4px 0px #00000005;
  border-radius: 5px;
}

@media (max-width: 1200px), (max-height: 850px) {
  .performanceChart {
    max-width: 190px;
  }
}
