.sessionChart {
        width: 100%;
        max-width: 260px;
        background-color: var(--primary-color);
        aspect-ratio: 1;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 2px 4px 0px #00000005;
        position: relative;
        overflow: hidden;
}

.title {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 2;
}

@media (max-width: 1200px), (max-height: 850px) {
        .sessionChart {
                max-width: 190px;
        }

        .title {
                font-size: 12px;
                top: 22px;
                left: 22px;
        }
}
