.dashboard {
  height: max(100vh, var(--page-min-height));
  overflow: hidden;
}

.dashboardContent {
  margin-top: var(--header-h);
  margin-left: var(--sidebar-w);
  height: calc(100% - var(--header-h));
  padding: 40px 100px;
  overflow: auto;
}

.title {
  font-size: 48px;
  line-height: 100%;
}

.title span {
  color: var(--primary-color);
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding-bottom: 75px;
}

.keyData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:40px;
  max-width: 258px;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 835px;
  height: 100%;
}

.smallCharts {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  gap: 35px;
  width: 100%;
}

.dashboardData {
  display: grid;
  grid-template-columns: minmax(0, 835px) minmax(170px, 258px);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
  max-width: calc(835px + 40px + 258px);
}

 .loader {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media (max-width: 1200px), (max-height: 850px) {
  .dashboardContent {
    padding: 25px 35px;
  }

  .title {
    font-size: 42px;
  }

  .subtitle {
    font-size: 16px;
  }

  .userInfo {
    gap: 20px;
    padding-bottom: 30px;
  }

  .dashboardData {
    gap: 20px;
  }

  .charts {
    gap: 20px;
  }

  .smallCharts {
    gap: 20px;
  }

}
